.BodyWrapper {
    padding: 15px;
    text-align: center;
    display: flex;
}

.Sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 1000px;
    overflow: auto;
}

.Content {
    margin-left:200px;
    padding: 1px 16px;
    height: 1000px;
}

.SearchFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.CategoryFilters {
    display: flex;
    flex-direction: column;
}