.Header {
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    /* Temporary fix while components are rendering in the header rather than the main div */
    display: inline-block;
    
}

.HeaderComponent {
    background-color: antiquewhite;
}