.ProductCard {

    width: 250px;
    min-height: fit-content;
    padding: 15px;
      
}

.Product {
    background-color: honeydew;
    padding: 10px;
    border-radius: 10px;
}

button {
    align-items: flex-end;
}